* text=auto
*.cs text diff=csharp
*.unity text eol=lf merge=unityyamlmerge
*.prefab text eol=lf merge=unityyamlmerge
*.asset text eol=lf merge=unityyamlmerge
*.meta text eol=lf
*.mat text eol=lf
*.png binary
*.jpg binary
*.fbx binary
*.wav binary
